table {
    margin: 20px;
    width: 20%;
}

table,
tr,
th,
td {
    border: solid thin gray;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: grey;
    color: aliceblue
}